<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="automatic" value="False" />
  </packageRestore>
  <packageSources>
	<clear />
    <add key="Brighter" value="https://ci.appveyor.com/nuget/paramore-brighter-m289d49fraww" />
    <add key="Darker" value="https://ci.appveyor.com/nuget/darker-s67vmw6shd1j" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>